#home {
  padding: 80px 16px;
  background: #e2edff;
  text-align: center;
}

#about {
  padding: 80px 16px 32px 16px;
  background: #e2edff;
  text-align: center;
}
#contact {
  padding-top: 80px;
  background: #e2edff;
}

section {
  padding-top: 80px;
}
